<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.3" rim:header="RIM-Widget:rim/widget">
  <name>WebGL sample</name>
  <description>WebGL sample</description>
  <rim:orientation mode="landscape"/>
  <author rim:copyright="2013">Leo Wu</author>

  <content src="WebContent/samplewebgl.html"/>
</widget>
